extends ../core/page

block title
  title Vhost Generator

block content
  +section('settings-section')
    .settings-section__inner.section
      form
        .input-wrap
          h2
            label.label vhost output directory
          .file-picker.vhost__data
            label.button.vhost__selector-label(for="2") How about...
            input.selector.vhost__selector(id="2" name="file" type="file" webkitdirectory directory)
            //- label(for="file") Points to
            input.output.vhost__output(placeholder="/yo/mamas/house/")
        
        .settings-section__secondary
          h4 Additional options
          div.input-wrap
            label Port:
            input.input(type="number" placeholder="80" value="80")
      
  
  +section('header')
    button.button.settings.settings-button Settings
    h1.header__title Vhost Generator
  
  - var base = ".testing.testing.com"
  +section('vhosts')
    button.button.highlight.add-host +
  
    .vhost
      input.host-name(type="hidden")
      h2.vhost__title
        span.vhost__name.clean(contenteditable="true" placeholder="awesome-sauce")
        span !{base}
      .file-picker.vhost__data
        label.button.vhost__selector-label(for="1") Points to:
        input.selector.vhost__selector(id="1" name="file" type="file" webkitdirectory directory)
        //- label(for="file") Points to
        input.output.vhost__output(value="/user/test/cool")
