.vhosts {
  background: #CFD8DC;
  padding: 0;
}

.vhost {
  border-bottom: 2px solid #B0BEC5;
  padding: 1em;
  color: #263238;
  overflow: hidden;

  &.fresh {
    animation-duration: 1s;
    animation-name: slideDown;
  }

  &__delete {
    appearance: none;
    border: 0;
    background: none;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    color: #dd0000;
    margin-top: 1em;
    outline: 0;
    cursor: pointer;
  }

  &__title {
    outline: 0;
    margin: 0 0 .5em 0;
  }

  &__name {
    display: inline-block;
    outline: 0;
    background: transparent;
    padding: 0;
    margin: 0;
    border: 0;
    border-bottom: 1px dashed $highlight;
    color: #263238;
    font-weight: 500;
    font-size: 1em;

    &.clean {
      border-bottom: 1px dashed $primary;
      color: rgba(#263238, .5);
    }
  }

  &__data {
    overflow: auto;
  }

  &__selector-label {
    box-sizing: border-box;
    float: left;
    display: block;
    text-align: center;
    font-size: .7rem;
    width: 20%;
    max-width: 150px;
  }

  &__selector {
    display: none;
  }

  &__output {
    box-sizing: border-box;
    float: left;
    border: 0;
    background: none;
    font-size: 1rem;
    color: #607D8B;
    width: 80%;
    padding-left: .75em;
    line-height: 24px;
  }
}
